* {
  margin: 0px;
  padding: 0px;
  background-color: rgb(113, 121, 121);
}

.container {
  display: block;
  margin: 90px auto;
  height: 70vh;
  width: 35vw;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px;
  background-color: aliceblue;
}

h2,p {
  text-align: center;
  background-color: aliceblue;
}

p{
  margin: 20px 0px;
}


form {
  margin: 80px 0px;
  background-color: aliceblue;
}

.form-group,label,option,span {
  background-color: aliceblue;
}

label {
  margin: 5px 5px;
}

input {
  margin: 5px 0px;
}


span {
  font-size: 12px;
  font-style: italic;
}

.btn {
  display: block;
  width:40%;
  margin: 30px auto;
}


h2 {
  margin: 5px 0px;
  border: 2px solid aqua;
  border-radius: 10px;
  background-color: aqua;
  text-align: center;
}

.displayfinal {
  margin: 150px 0px;
  padding: 10px 10px;
}

a {
  display: block;
  width: 200px;
  margin: 2px 145px;
}